body {
    background-color: white;
}

.main_table {
    height: 100%;
    width: 100%;
    background: transparent;
}

.table_margin_tr {
    width: 100%;
    height: 15px;
    background: transparent;
}

.homepage_table_margin_td {
    height: 100%;
    width: 20%;
    background: transparent;
}

#homepage_input_id, #homepage_input_session {
    font-size: large;
    height: 100%;
    width: 50%;
    margin-top: 15px;
}

#homepage_button {
    margin-top: 15px;
    font-size: large;
    width: 120px;
}

.table_margin_td {
    height: 100%;
    width: 10%;
    background: transparent;
}

.table_margin_main {
    width: 100%;
    height: 100%;
}

#heading_homepage {
    font-family: arial, sans serif;
    text-align: center;

}

.subtitle {
    font-family: arial, sans serif;
    font-style: italic;
    color: grey;
    text-align: center;
}

.chat_main_table {
    position: fixed;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: white;
}

#homepage_inputs {
    text-align: center;
}

.msg_tr {
    padding-top: 15px;
    width: 100%;
    height: 80%;
    vertical-align: top;
}

.msg_input_tr {
    width: 100%;
    max-height: 10%;
    /* vertical-align: middle; */
}

#msg_input {
    font-size: large;
    height: 20px;
    width: 100%;
}

#msg_div {
    vertical-align: middle;
    overflow: auto;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    font-family: arial, sans-serif;
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#msg_input_button {
    visibility:hidden;
    font-size: large;
    /* width: 8%; */
    height: 50px;
}

.pick_table {
    position: fixed;
    top: 0px;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.5);
}

.pick_tr{
    width: 100%;
    height: 20px;
}

.pick_td {
    width: 15%;
    height:100%;
}

.pick_div_td {
    box-shadow: 10px 10px 5px rgb(100,100,100);
    padding-left: 10px;
    background: white;
    font-family: arial, sans-serif;
    vertical-align: top;
    overflow: auto;
    height: 80%;
    width: 60%;
}

#pick_div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.bubbleOdd {
    font-size: 30px;
    /* margin: 10px; */
    /* padding: 5px; */
    text-align: right;
    color: #00BB3F;
    padding-right: 10px;
    /* box-shadow: 5px 5px 5px rgb(100, 100, 100); */
    /* border-radius: 5px; */
    /* background-image: -webkit-linear-gradient(top, #9FF33D, #00BB3F); */
    /* background-image: -moz-linear-gradient(top, #9FF33D, #00BB3F); */
    /* background-image: -ms-linear-gradient(top, #9FF33D, #00BB3F); */
    /* background-image: -o-linear-gradient(top, #9FF33D, #00BB3F); */
    /* background-image: linear-gradient(top, #9FF33D, #00BB3F); */
}

.bubbleEven {
    font-size: 30px;
    /* margin: 10px; */
    /* padding: 5px; */
    text-align: left;
    color: #3D9AD1;
    padding-left: 10px;
    /* box-shadow: 5px 5px 5px rgb(100, 100, 100); */
    /* border-radius: 5px; */
    /* background-image: -webkit-linear-gradient(top, #34C6CD, #3D9AD1); */
    /* background-image: -moz-linear-gradient(top, #34C6CD, #3D9AD1); */
    /* background-image: -ms-linear-gradient(top, #34C6CD, #3D9AD1); */
    /* background-image: -o-linear-gradient(top, #34C6CD, #3D9AD1); */
    /* background-image: linear-gradient(top, #34C6CD, #3D9AD1); */
    
}

audio {
    visibility: hidden;
    z-index: -10;
    top: 0px;
    left: 0px;
}

.msg_td {
    vertical-align: middle;
}

label {
    font-family: arial, sans serif;
}

#title_div {
    font-family: arial, sans serif;
    text-align: center;
}

#history_span {
    margin-left: 5px;
    font-family: arial, sans serif;
    border-style: solid;
    border-width: thin;
    border-color: grey;
    color: grey;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.input_div {
    margin-bottom: 5px;
}

.shadow_text {
    text-shadow: -3px 0 5px red;
}

.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg);
}

input[type='TEXT'] {
    border: thin solid grey;
}

